<div class="divbody">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"> Frontend</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/money-transfer">Transferencia Monetraria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tipocambio">Tipo de Cambio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/check-balance">Consulta Saldo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reporte">Reportes</a>
          </li>
        </ul>
        
      </div>
    </nav>

    <!-- Aqui empieza el album -->

    <main>
        <section class="jumbotron text-center my-5">
          <div class="container">
            <h1 class="jumbotron-heading">Consulta de Saldo</h1>
            <p class="lead text-muted">A continuación puede consultar el saldo de su Cuenta</p>
            <p>
              <a class="lead text-muted">total Saldo:</a>
              <input type="text" class="form-control" id="editTelefono" value="{{saldo}}" disabled>
            </p>
          </div>
        </section>
    </main>

</div>
