<div class="divbody" id="content" #content>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"> Frontend</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/money-transfer">Transferencia Monetraria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tipocambio">Tipo de Cambio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/check-balance">Consulta Saldo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reporte">Reportes</a>
          </li>
        </ul>
        <!-- To be able to use the info within the form i need to add a name -->
        
      </div>
    </nav>

    <main>
      <br>
      <br>
      <div class="container" >
              <div class="card card-outline-secondary">
                  <div class="card-body">
                      <h3 class="text-center">Reporte</h3>
                      <hr>
                     
                      <form class="form" role="form" autocomplete="off">
                          <div class="form-group">
                              <label style="font-size:20px;" >Mi numero de cuenta:   </label>
                              <label style="font-size:18px;" >{{noCuentaActual}}</label>
                          </div>
                          <hr>
                          <div class="form-group row">
                              <div class="col-md-6">
                                  <button id="general" class="btn btn-default btn-lg btn-block" type="submit" (click)="generarGeneral(true)">Reporte General</button>
                              </div>
                              <div class="col-md-6">
                                  <button id="propio" class="btn btn-success btn-lg btn-block" type="submit" (click)="generarGeneral(false)">Mi Reporte</button>
                              <br>
                                </div>  
                                <div>
                                  <button id= "descarga"(click)="descargarPDF()">descargar PDF</button>
                                </div>  
                                
                          </div>
                          <div class="alert alert-success" *ngIf="alerta" role="alert">{{ alerta }}</div> 
                          <div id="notification" class="alert alert-danger" *ngIf="alertaVacia" role="alert">{{ alertaVacia }}</div>                           
                      </form>
                      <div style="text-align:center;">
                        <table border="1" style="margin: 0 auto;">
                          <tr>
                            <th>Cuenta Origen</th>
                            <th>Cuenta Beneficiada</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                          </tr>
                          <tr *ngFor="let transaccion of TotalTransacciones">                          
                            <td>{{transaccion.origen}}</td>
                            <td>{{transaccion.destino}}</td>
                            <td>Q{{transaccion.cantidad}}</td>
                            <td>{{transaccion.fecha.toString().substr(0,25)}}</td>
                          </tr>
                      </table>
                    </div>
                  </div>
                  
              </div>
              
          </div>

    </main>

</div>
