<div class="divbody">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"> Frontend</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/perfil">Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/money-transfer">Transferencia Monetraria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tipocambio">Tipo de Cambio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/check-balance">Consulta Saldo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reporte">Reportes</a>
          </li>
        </ul>
        <!-- To be able to use the info within the form i need to add a name -->
        
      </div>
    </nav>

    <main>
        
    </main>

</div>
