<div class="divbody bg-dark ">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"> Frontend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/perfil">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/money-transfer">Transferencia Monetraria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tipocambio">Tipo de Cambio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/check-balance" id="Menu_Saldo">Consulta Saldo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reporte">Reportes</a>
        </li>
      </ul>
      <!-- To be able to use the info within the form i need to add a name -->

    </div>
  </nav>
  <div class="bg-light form-perfil rounded container my-3">
    <h1 class="h3 mb-3 font-weight-normal text-center">Perfil</h1>
    <div class="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="nombrehelp" placeholder="Nombre" value={{email}} (input)="changeEmail($event.target.value)">
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" aria-describedby="nombrehelp" placeholder="Nombre" value={{nombre}} (input)="changeNombre($event.target.value)">
      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" value={{apellido}} (input)="changeApellido($event.target.value)">
      </div>

      <div class="form-group">
        <label for="dpi">Dpi</label>
        <input type="text" class="form-control" id="dpi" placeholder="Dpi" value={{dpi}} (input)="changeDpi($event.target.value)">
      </div>

      <div class="form-group">
        <label for="nocuenta">No Cuenta</label>
        <input type="text" class="form-control" id="nocuenta" placeholder="No. Cuenta" value={{nocuenta}} disabled>
      </div>

      <div class="form-group">
        <label for="saldo">Saldo</label>
        <input type="text" class="form-control" id="saldo" placeholder="Saldo" value={{saldo}} disabled>
      </div>

      <div class="form-group">
        <label for="password-anterior">Password anterior</label>
        <input type="password" class="form-control" id="password-anterior" placeholder="Password anterior" (input)="changePassword($event.target.value)">
      </div>

      <div class="form-group">
        <label for="password-nuevo">Password nuevo</label>
        <input type="password" class="form-control" id="password-nuevo" placeholder="Password nuevo" (input)="changePasswordNuevo($event.target.value)">
      </div>

      <div class="form-group">
        <label for="password-confirmar">Confirmar password</label>
        <input type="password" class="form-control" id="password-confirmar" placeholder="Confirmar Password" (input)="changePasswordConfirmar($event.target.value)">
      </div>

      <div id="mensaje" class="alert alert-success" role="alert" *ngIf="mensaje">{{ mensaje }}</div>
      <div id="alerta" class="alert alert-danger" role="alert" *ngIf="alerta">{{ alerta }}</div>

      <button id="actualizar" type="submit" class="btn btn-primary btn-block" (click)="eventActualizar()">Actualizar Datos</button>
    </div>
  </div>
</div>
